@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
}
.container{
    margin: auto;
    width: 50%;
    margin-top: 2rem;
    
}
.pic{
    width: 100%;
}
.logo{
    margin-left: 15rem;
  
}
.row1{
    margin: 1rem;
    margin-left: 10rem;
    font-size: 25px;
    color: hsl(0, 0%, 59%);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}
.row2{
   
    margin-left: 15rem;
    color: hsl(209, 33%, 12%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
strong{
    color: black;
    font-weight: 700;
    
}
input{
    width: 50%;
    border-radius: 5rem;
    padding: 0.5rem 0 0.5rem 0;
    opacity: 0.2;

}
.row3{
    margin-top: 3rem;
}
.form{
    margin-top: 1rem;
    margin-left: 8rem;
}
::placeholder {
    padding-left: 1rem;
    opacity: 0.5;
}
.btn{
    width: 30%;
    border-radius: 5rem;
    padding: 0.5rem 0 0.5rem 0;
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: none;
}
.btn:hover{
    background-color: hsl(223, 84%, 63%);
opacity: 0.7;
}
a{
    list-style-type: none;
    text-decoration: none;
    border: hsl(223, 100%, 88%) 1px solid;
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 10px;
    
}
.soc{
    margin-left: 12rem;
}
a:hover{
    color: #ffff;
    background-color: hsl(223, 84%, 63%);
}
footer{

margin-top: 3rem;
margin-bottom: 2rem;
}
footer p{
    font-size: 12px;
    margin-left: 10rem;
    color: hsl(0, 0%, 59%);
    opacity: 0.7;
    
}

@media only screen and (max-width: 425px) {
    .container{
        
        width: 100%;
        margin-top: 2rem;
        
    }
    .logo{
        margin-left: 8rem;
        width: 30%;
      
    }
    .row1{
        margin: 1rem;
        margin-left: 4rem;
        font-size: 20px;
        
    }
    .row2{
   
        margin-left: 6rem;
        font-size: 12px;
        font-weight: 600;
    }
    .form{
        
        margin-top: 1rem;
        margin-left: 2rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    input{
        width: 90%;
        margin-bottom: 00.5rem;
       }
       .btn{
        width: 90%;
    }
    
    .pic{
        width: 100%;
       
       
    }
    footer{
       
        margin-top: 8rem;
        margin-bottom: 2rem;
        }
        .soc{
            margin-left: 7rem;
        }
        footer p{
            margin-left: 5rem;
        }
}
@media only screen and (min-width: 426px){
    .container{
        
        width: 100%;
        margin-top: 2rem;
        
    }
    .row2{
   
        
        font-size: 16px;
        font-weight: 600;
    }
    .soc{
        margin-left: 20rem;
    }
    footer p{
        margin-left: 18rem;
    }
}

@media only screen and (min-width: 961px){
    .container{
        margin: auto;
        width: 50%;
        margin-top: 2rem;
        
    }
    .soc{
        margin-left: 12rem;
    }
    footer p{
        font-size: 12px;
        margin-left: 10rem;
        color: hsl(0, 0%, 59%);
        opacity: 0.7;
        
    }
}
